﻿/*-----------------------------------------------------------------------------
    . class
    # id
    , group
      nested (space)
    unit 1em is the height of the font
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
    how to find color attributes - find: 
tab background background	background: #7C7062                     #CCC	
tab background regular	    background: #EEE5DE seashell2           #e6e6e6
tab background 			    background: #FFFAF0 floralwhite(svg)    #fffff0
tab background hover 		background: #CDC5BF seashell3           #dadada
tab background content		background: #FFFAF0 floralwhite(svg)    #fffff0
#212121
#222222
#555555
#778899 light slate gray
#999999
#CDC5BF seashell3 
#d3d3d3
#dadada
#e6e6e6
#EEE5DE seashell2
#FFFAF0 floralwhite(svg) 
#ffffff
http://www.colorhexa.com/fef1ec gray
http://www.colorhexa.com/fbf9ee gray
http://www.colorhexa.com/f4f4f4 gray
http://www.colorhexa.com/efeeef gray
http://www.colorhexa.com/e6e6e6 gray
http://www.colorhexa.com/e2e2e2 gray
http://www.colorhexa.com/d9d9d9 gray
http://www.colorhexa.com/c7d1d6 gray
http://www.colorhexa.com/cccccc gray
http://www.colorhexa.com/aaaaaa gray
http://www.colorhexa.com/666666 gray
http://www.colorhexa.com/353535 gray
http://www.colorhexa.com/a6dbed blue
http://www.colorhexa.com/7ac0da blue
http://www.colorhexa.com/b0c4de blue

#dddddd; light
#f6f6f6 light
#0073ea; ugly blue
#12076F; dark purple
#ff0084; hot pink
#222222; dark
#ffffff white
#444444; dark
#d3d6ff; light purple
-----------------------------------------------------------------------------*/

@import url( "https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700" ) screen;
@import url( "https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i" ) screen;


/*-----------------------------------------------------------------------------
    header
-----------------------------------------------------------------------------*/
div#header  { font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial; } /*DIV.title, DIV.item H3, DIV.item H4, DIV.pager A*/
/*div#header { border-bottom: 2px solid gray; color: #444; } background-color: #D9D9D9#444; border-bottom: #111; color: White*/
/*div#header DIV.title { font-size: 2em; padding: .6em; }*/
div#header h1 { text-align:center; } /*display:inline;*/
div#header img { float:left; } /*display:inline;*/ 

/* MAC */
div#header { position: fixed; z-index: 1000; height: 118px; background-image: linear-gradient(to bottom, white 58px, transparent); border: 0px solid red; }

/*-----------------------------------------------------------------------------
    menu
------------------------------------------------------- position: relative;----------------------*/

div.menu { border: 1px solid #CCC; height:3em; font-size:.8em; font-weight:bold; background-color: #DDDDDD; /* width: 100%; */} 
ul.menu { display:inline-block; height:3em; position: relative; overflow:auto; overflow-x:hidden; width:100%; border-width: 0; padding: 1em 1.4em; background: none; padding: .2em; background-color: #DDDDDD; } 
ul.menu li { float: left; list-style: none; position: relative; white-space:nowrap; top: 0; margin: 1px .2em 0 0; border-bottom-width: 0; padding: 0; background-color: #DDDDDD; }
ul.menu li a { float: left; cursor: pointer; padding: .5em 1em; text-decoration: none; color:#0073ea; border: 1px solid #CCC; background-color:#f6f6f6; text-shadow: 1px 1px 2px black; } 
ul.menu li a:hover { color:#FFF; background-color:#12076F; text-shadow: 1px 1px 2px rgb(184,184,184); }
ul.menu li a.selected { color:#12076F; cursor:text; border: 2px solid #FFF; background-color: #FFF; } 
ul.menu li a.ecpadmin { float: left; cursor: pointer; padding: .5em 1em; text-decoration: none; color:#0073ea; border: 1px solid #CCC; background-color:#FCF1B8; } /*F8F5E1*/
ul.menu li a.ecpadmin-selected { color:#12076F; cursor:text; border: 2px solid #FFF; background-color: #FCF1B8; } 


/* MAC */
div#menu { position: fixed; z-index: 9999; margin-top: 136px; }
div.menu { width: 270px; height: 100%; float: left; margin-top: -6px; background-color: rgb( 6, 80, 110 ); padding-bottom: 30px; border-radius: 0 0 30px 0; box-shadow: 2px 8px 10px 0px rgba( 0, 0, 0, 0.5 ); border: 0px solid red; }
ul.menu { width: 270px; height: 100%;  background-color: transparent; margin-top: -4px; padding-left: 0; margin-bottom: 0; }
ul.menu li { float: none; }
ul.menu li a { float: left; width: 270px; border: none; color: rgb( 255, 255, 255 ) !important; background-color: rgb( 6, 80, 110 ) !important; }
ul.menu li a:hover { background-color: rgb( 250, 163, 27 ) !important; color: black !important; }
ul.menu li a.selected { pointer-events: none; cursor: default; border: none; background-color: rgb( 5, 153, 110 ) !important; text-shadow: 1px 1px 2px rgb( 6, 80, 110 ); }
ul.menu li a.ecpadmin { border: none; }
ul.menu li a.ecpadmin-selected { pointer-events: none; cursor: default; border: none; background-color: rgb( 5, 153, 110 ) !important; }
ul.menu li.menuParent a { padding-left: 20px; }
ul.menu li.menuChild a { padding-left: 60px; }
ul.menu li.menuParent.selectedParent a:hover { cursor: default; }
ul.menu li img { margin-right: 8px; height: 17px; width: 17px; }

div#alveo-logo { border: 0px solid red; height: 130px; width: 270px; background-color: rgb( 32, 136, 121 ); float: left; box-shadow: 2px 3px 10px 0px rgba( 0, 0, 0, 0.5 ); }
div#alveo-logo img { margin-left: 34px; margin-top: 20px; } 
div#alveo-account-logo, div#alveo-account-name, div#alveo-account-contact, div#alveo-logoff { margin-left: 20px; height: 40px; width: 170px; margin-top: 2px; border: 0px solid red; display: inline-block; }
div#alveo-account-name { text-align: center; }
div#alveo-account-logo img { max-width: 170px; max-height: 40px; }
div#alveo-account-name, div#alveo-account-contact, div#alveo-logoff { height: 40px; width: 40px; }

/*-----------------------------------------------------------------------------
    content
-----------------------------------------------------------------------------*/
div#content { background-color: #FFFFFF; padding: 1em; left:0; } /*border-left: 2px solid gray; margin-left: 9em; */

/* MAC */
div#content { width: 82%; float: left; padding-left: 10px; margin-left: 290px; margin-top: 80px; }

/*-----------------------------------------------------------------------------
    modal popup content
-----------------------------------------------------------------------------*/
.modal-display { position: fixed; z-index: 10000; top: 0px; left: 0px; height: 100%; width: 100%; }
img#modal-close { position: absolute; top: -2px; right: -2px; }
div#modal-contact-support { display: none; }
div#modal-contactSupport { border: 2px solid rgb( 250, 163, 27 ); width: 300px; height: 150px; position: relative; left: 50%; margin-left: -150px; top: 30%; margin-top: -60px; padding: 20px; z-index: 11000; color: white; border-radius: 12px; background: rgba( 6, 80, 110, .8 ); box-shadow: 4px 8px 8px 0px rgba(10, 10, 10, 0.71); font-weight: bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.62); }
div#modal-contact-support .overlay { position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba( 5, 153, 110, .5 ); }

div#modal-view-account { display: none; }
div#modal-viewAccount { border: 2px solid rgb( 230, 219, 90 ); width: 300px; height: 150px; position: relative; left: 50%; margin-left: -150px; top: 30%; margin-top: -60px; padding: 20px; z-index: 11000; color: white; border-radius: 12px; background: rgba( 5, 153, 110, .8 ); box-shadow: 4px 8px 8px 0px rgba(10, 10, 10, 0.71); font-weight: bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.62); }
div#modal-view-account .overlay { position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba( 6, 80, 110, .5 ); }

.modal-effect { -webkit-filter: blur(2px); filter: blur(2px); }

/*-----------------------------------------------------------------------------
    footer
-----------------------------------------------------------------------------*/
footer { clear: both; background-color: #ffffff/*#e2e2e2*/; font-size: .8em; min-height: 50px; height: 5%; position: relative; width: 100%; bottom: 0; }


/* MAC */
footer { height: initial; }
div.footer { float: none; text-align: center; background-color: rgb( 6, 80, 110 ); color: white; line-height: 30px; font-weight: bold; margin-left: 300px; margin-right: 30px; border-radius: 2px; }
div.footer p { margin: 0; }
div.footer a:link { color: rgb( 230, 219, 90 ); text-decoration: none; }
div.footer a:visited { color: rgb( 255, 255, 255 ); text-decoration: none; }
div.footer a:hover { color: rgb( 250, 163, 27 ); text-decoration: none; }
div.footer a:active { color: rgb( 5, 153, 110 ); text-decoration: none; }

/*-----------------------------------------------------------------------------
    CSS color constants (themes)
-----------------------------------------------------------------------------*/
.alveo-yellow { background-color: rgb( 230, 219, 90 ); }
.alveo-orange { background-color: rgb( 250, 163, 27 ); }
.alveo-blue { background-color: rgb( 6, 80, 110 ); }
.alveo-green { background-color: rgb( 5, 153, 110 ); }
/* -=- */
.menuField-green { background-color: rgb( 32, 136, 121 ); }
.menuHilightActive-blue { background-color: rgb( 6, 80, 110 ); }
/* -=- */
.menuField-blue { background-color: rgb( 6, 80, 110 ); }
.menuHilightActive-green { background-color: rgb( 5, 153, 110 ); }
/* -=- */
.menuHilightHover-orange { background-color: rgb( 250, 163, 27 ); }
/* -=- */
.menuGradient-greenblue {
  background: #208879; /* Old browsers */
  background-image: -moz-linear-gradient(top, #208879 0%, #06506e 100%); /* FF3.6-15 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208879), color-stop(100%,#06506e)); /* Chrome4-9,Safari4-5 */
  background-image: -webkit-linear-gradient(top, #208879 0%,#06506e 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: -o-linear-gradient(top, #208879 0%,#06506e 100%); /* Opera 11.10-11.50 */
  background-image: -ms-linear-gradient(top, #208879 0%,#06506e 100%); /* IE10 preview */
  background-image: linear-gradient(to bottom, #208879 0%,#06506e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#208879', endColorstr='#06506e',GradientType=0 ); /* IE6-9 */
  background-color: transparent !important; /* reset */
}
.menuGradient-bluegreen {
  background: #06506e; /* Old browsers */
  background-image: -moz-linear-gradient(top,  #06506e 0%, #208879 100%); /* FF3.6-15 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#06506e), color-stop(100%,#208879)); /* Chrome4-9,Safari4-5 */
  background-image: -webkit-linear-gradient(top,  #06506e 0%,#208879 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: -o-linear-gradient(top,  #06506e 0%,#208879 100%); /* Opera 11.10-11.50 */
  background-image: -ms-linear-gradient(top,  #06506e 0%,#208879 100%); /* IE10 preview */
  background-image: linear-gradient(to bottom,  #06506e 0%,#208879 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06506e', endColorstr='#208879',GradientType=0 ); /* IE6-9 */
  background-color: transparent !important; /* reset */
}

/*-----------------------------------------------------------------------------
    MAIN Main main
------------------------font-size: .85em; -----------------------------------------------------*/
.LegacyFrame { border:0px; padding: 0px; width: 80%; height: 75%;  }

html { background-color: #ffffff; margin: 0; padding: 0; } /*background-color: #e2e2e2*/
/*body { font-family:Verdana, Arial, Helvetica, sans-serif; color: #232323; background-color: #ffffff; padding: 0; margin: 0; }*/ /*background-color: #D9D9D9*/
body,td { font-family:Verdana; font-size: 9pt; }

/*body { font-family:"Trebuchet MS", Verdana, Helvetica, Sans-Serif; Arial, Helvetica, sans-serif;"Segoe UI", Verdana, Helvetica, Sans-Serif;  background-color: #FFFAF0 floralwhite(svg); background-color: #FFFFF0 #fff; }*/
/*BODY { font-family: Cambria, Georgia, "Times New Roman"; margin: 0; }border-top: solid 10px #000;  */
header, footer, hgroup, nav, section { display: block; }
.content-wrapper { margin: 0 auto; max-width: 960px; }

#body { background-color: #666666/*#efeeef*/; clear: both; padding-bottom: 35px; }/*WHAT IS THIS????*/
/*.main-content { background: url("../Images/accent.png") no-repeat; padding-left: 10px; padding-top: 30px; }*/
/*.featured + .main-content { background: url("../Images/heroAccent.png") no-repeat; }*/
/*header .content-wrapper { padding-top: 20px;  }*/

/*Regular links and ClaimsCorrection tab links*/
/*COMMENTED OUT SO THAT TABS WORK CORRECTLY*/
/*a { color: #333; outline: none; padding-left: 3px; padding-right: 3px; text-decoration: underline; }
a:link, a:visited, a:active, a:hover { color: #333; }
a:hover { background-color: #c7d1d6; }*/

mark { background-color: #a6dbed; padding-left: 5px; padding-right: 5px; }

.float-left { float: left; }
.float-right { float: right; }
.clear-fix:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }

/* taking h2 out of this list*/
h1, h3, h4, h5, h6 { color: #000; margin-bottom: 0; padding-bottom: 0; }
h1 { font-size: 2em; }
h2 { font-size: 1.25em; }/* 1.75 */
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }
h5 a:link, h5 a:visited, h5 a:active { padding: 0; text-decoration: none; }

iframe {
    position: relative;
}





/*-----------------------------------------------------------------------------
    tables
-----------------------------------------------------------------------------*/
/*table { border-collapse: collapse; border-spacing: 0; margin-top: 0.75em; border: 0 none; }
th { text-align: left; border: none 0px; padding-left: 0; }
th a { display: block; position: relative; }
th a:link, th a:visited, th a:active, th a:hover { color: #333; font-weight: 600; text-decoration: none; padding: 0; }
th a:hover { color: #000; }
th.asc a, th.desc a { margin-right: .75em; }
th.asc a:after, th.desc a:after { display: block; position: absolute; right: 0em; top: 0; font-size: 0.75em; }
td { padding: 0.25em 2em 0.25em 0em; border: 0 none; }
tr.pager td { padding: 0 0.25em 0 0; }*/

/*-----------------------------------------------------------------------------
    site title
-----------------------------------------------------------------------------*/
.site-title { color: #c8c8c8; font-family: Rockwell, Consolas, "Courier New", Courier, monospace; font-size: 2.3em; margin: 0; }
.site-title a, .site-title a:hover, .site-title a:active { background: none; color: #c8c8c8; outline: none; text-decoration: none; }

/*-----------------------------------------------------------------------------
    login
-----------------------------------------------------------------------------*/
#login { display: block; font-size: .85em; margin: 0 0 10px; text-align: right; }
#login a { background-color: #CCC; margin-left: 10px; margin-right: 3px; padding: 2px 3px; text-decoration: none; border:1px #666; } /*background-color: #d3dce0;*/
#login a.username { background: none; margin: 0; padding: 0; text-decoration: underline; }
#login ul { margin: 0; }
#login li { display: inline; list-style: none; }

/*-----------------------------------------------------------------------------
    page elements
    featured
-----------------------------------------------------------------------------*/
.featured { background-color: #ffffff/*#fff*/; }
.featured .content-wrapper { background-color: #7ac0da;
                            background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
                            background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
                            background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
                            background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
                            background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
                            color: #3e5667;
                            padding: 20px 40px 30px 40px; }
.featured hgroup.title h1, .featured hgroup.title h2 { color: #fff; }
.featured p { font-size: 1.1em; }

/*-----------------------------------------------------------------------------
    page titles
-----------------------------------------------------------------------------*/
hgroup.title { margin-bottom: 10px; }
hgroup.title h1, hgroup.title h2 { display: inline; }
hgroup.title h2 { font-weight: normal; margin-left: 3px; }

/*-----------------------------------------------------------------------------
    features
-----------------------------------------------------------------------------*/
section.feature { width: 300px; float: left; padding: 10px; }

/*-----------------------------------------------------------------------------
    ordered list
-----------------------------------------------------------------------------*/
ol.round { list-style-type: none; padding-left: 0; }
ol.round li { margin: 25px 0; padding-left: 45px; }
ol.round li.zero { background: url("../Images/orderedList0.png") no-repeat; }
ol.round li.one { background: url("../Images/orderedList1.png") no-repeat; }
ol.round li.two { background: url("../Images/orderedList2.png") no-repeat; }
ol.round li.three { background: url("../Images/orderedList3.png") no-repeat; }
ol.round li.four { background: url("../Images/orderedList4.png") no-repeat; }
ol.round li.five { background: url("../Images/orderedList5.png") no-repeat; }
ol.round li.six { background: url("../Images/orderedList6.png") no-repeat; }
ol.round li.seven { background: url("../Images/orderedList7.png") no-repeat; }
ol.round li.eight { background: url("../Images/orderedList8.png") no-repeat; }
ol.round li.nine { background: url("../Images/orderedList9.png") no-repeat; }

/*-----------------------------------------------------------------------------
    content
-----------------------------------------------------------------------------*/
article { float: left; width: 70%; }
aside { float: right; width: 25%; }
aside ul { list-style: none; padding: 0; }
aside ul li { background: url("../Images/bullet.png") no-repeat 0 50%; padding: 2px 0 2px 20px; }
.label { font-weight: 700; }

/*-----------------------------------------------------------------------------
    login page
-----------------------------------------------------------------------------*/
#loginForm { border-right: solid 2px #c8c8c8; float: left; width: 55%; }
#loginForm .validation-error { display: block; margin-left: 15px; }
#loginForm .validation-summary-errors ul { margin: 0; padding: 0; }
#loginForm .validation-summary-errors li { display: inline; list-style: none; margin: 0; }
#loginForm input { width: 250px; }
#loginForm input[type="checkbox"], #loginForm input[type="submit"], #loginForm input[type="button"], #loginForm button { width: auto; }
#socialLoginForm { margin-left: 40px; float: left; width: 40%; }
#socialLoginForm h2 { margin-bottom:  5px; }
#socialLoginList button { margin-bottom: 12px; }
#logoutForm { display: inline; }

/*-----------------------------------------------------------------------------
    contact
-----------------------------------------------------------------------------*/
.contact h3 { font-size: 1.2em; }
.contact p { margin: 5px 0 0 10px; }
.contact iframe { border: 1px solid #333; margin: 5px 0 0 10px; }

/*-----------------------------------------------------------------------------
    forms
-----------------------------------------------------------------------------*/
/*fieldset { border: none; margin: 0; padding: 0; }
fieldset legend { display: none; }
fieldset ol { padding: 0; list-style: none; }
fieldset ol li { padding-bottom: 5px; }
label { display: block; font-size: 1.2em; font-weight: 600; }
label.checkbox { display: inline; }
input, textarea { border: 1px solid #e2e2e2;
                    background: #fff;
                    color: #333;
                    font-size: 1.2em;
                    margin: 5px 0 6px 0;
                    padding: 5px;
                    width: 300px; }
textarea { font-family: inherit; width: 500px; }
input:focus, textarea:focus { border: 1px solid #7ac0da; }
input[type="checkbox"] { background: transparent; border: inherit; width: auto; }
input[type="submit"], input[type="button"], button { background-color: #d3dce0;
                                                    border: 1px solid #787878;
                                                    cursor: pointer;
                                                    font-size: 1.2em;
                                                    font-weight: 600;
                                                    padding: 7px;
                                                    margin-right: 8px;
                                                    width: auto; }
td input[type="submit"], td input[type="button"], td button { font-size: 1em; padding: 4px; margin-right: 4px; }*/

/*-----------------------------------------------------------------------------
    Styles for basic forms
-----------------------------------------------------------------------------*/
fieldset { border:1px solid #ddd; padding:0 1.4em 1.4em 1.4em; margin:0 0 1.5em 0; }
legend { font-size:1.2em; font-weight: bold; }
textarea { min-height: 75px; }
.editor-label { margin: 1em 0 0 0; }
.editor-field { margin:0.5em 0 0 0; }

/*-----------------------------------------------------------------------------
    info and errors
-----------------------------------------------------------------------------*/
.message-info { border: 1px solid; clear: both; padding: 10px 20px; }
.message-error { clear: both; color: #e80c4d; font-size: 1.1em; font-weight: bold; margin: 20px 0 10px 0; }
.message-success { color: #7ac0da; font-size: 1.3em; font-weight: bold; margin: 20px 0 10px 0; }
.error { color: #e80c4d; }

/*-----------------------------------------------------------------------------
    Styles for validation helpers
-----------------------------------------------------------------------------*/
.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: #e80c4d; font-size: 1.1em; }/*color: #ff0000;*/ 
.validation-summary-valid { display: none; }
.field-validation-error { color: #e80c4d; font-weight: bold; font-size:.8em; }/*color: #ff0000;*/
.field-validation-warning { color: #daa520; font-weight: bold; font-size:.8em; }/*color: #ff0000;*//*#FFEC8B*//*#FDB813*/
.field-validation-valid { display: none; }
.field-validation-valid-display { color: #3B5323; font-weight: bold; font-size:.8em; } /*green*/
input.input-validation-error { border: 1px solid #e80c4d; }
input[type="checkbox"].input-validation-error { border: 0 none; }

/*-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/
DIV.item { border-top: 1px dotted gray; padding-top: .7em; margin-bottom: .7em; }
DIV.item:first-child { border-top: none; padding-top: 0; }
DIV.item H3 { font-size: 1.3em; margin: 0 0 .25em 0; }
DIV.item H4 { font-size: 1.1em; margin: .4em 0 0 0; }

DIV.pager { font-size:9px; text-align: left; border-top: 2px solid silver; padding: .5em 0 0 0; margin-top: 1em; }
DIV.pager A:hover { font-size:9px; background-color: Silver; }
DIV.pager A.selected { font-size:9px; background-color: #353535; color: White; }
DIV.pager A { font-size:9px; font-size: 1.1em; color: #666; text-decoration: none; padding: 0 .4em 0 .4em; }

form { margin: 0; padding: 0; }
/*DIV.item FORM { float:right; }
DIV.item INPUT { color: White; background-color: #333; border: 1px solid black; cursor: pointer; }
H2 { margin-top: 0.3em }*/
TFOOT TD { border-top: 1px dotted gray; font-weight: bold; }
.actionButtons A, INPUT.actionButtons { font: .8em Arial;
                                        color: #0073ea;
                                        margin: .5em;
                                        cursor: pointer; 
                                        text-decoration: none;
                                        padding: 3px; 
                                        background-color: #d3dce0; 
                                        border: 1px solid #787878; } /*padding: .15em 1.5em .2em 1.5em;background-color: #353535;border: 1px solid black;color: White*/
                                                                   
.ActionButton { background-color: #d3dce0;
                border: 1px solid #787878; 
                cursor: pointer; 
                padding: 3px; 
                font: .8em Arial; 
                color: #0073ea;
                margin: .5em;
                width: auto; 
                text-decoration:none; } /*padding: 7px;*//*margin-right: 8px;*//*margin: .5em;*//*padding: .15em 1.5em .2em 1.5em;*//*font-weight: bold;*/
             
ul { list-style-type:none; list-style-image: none; list-style-position: inside; }

/*-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/

/********************#000 *****#fff ********************** center center***************/
/* http://www.jquerybyexample.net/2012/06/show-loading-image-while-page-is.html */
#dvLoading{
   /*background:url(/Content/ajax-loader.gif) 50% 50% no-repeat;*/
   /*height: 100%;
   width: 100%;*/
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 0;
   margin: -25px 0 0 -25px;
   display: block;
   background-repeat:no-repeat;
}

/**************************************************************/
/* http://hungred.com/how-to/tutorial-simple-screen-grey-effect-jquery/ */
#screen { position: absolute; left: 0; top: 0; background: #000; }

/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/
/**************************************************************/


/*-----------------------------------------------------------------------------
    Fixed Header   background-color: white !important;
-----------------------------------------------------------------------------*/

div.FixedHeader_Cloned th,
div.FixedHeader_Cloned td {
	background-color: white !important;
    font-size:.80em;
    margin:0px;
    padding:0px;
}

/*-----------------------------------------------------------------------------
    DataTables
#DataTableBatch_paginate {visibility:hidden;}
-----------------------------------------------------------------------------*/
.DataTableClaim { background : none !important; } /*.sorting, .sorting_asc, .sorting_desc*/ 

/*-----------------------------------------------------------------------------
    Aleppla 5/15/2014 - want this code run last 
-----------------------------------------------------------------------------*/
/*.ShowAnsiNames {}*/

/*.ClaimForm > th { font-size:x-small; color:#383838; text-align:left; font-weight:normal; padding: 3px, 3px, 0px, 0px; color:red; } 
.ClaimForm > td { text-align:left; vertical-align:top; padding: 0px, 3px, 3px, 0px; margin:3px; color:red; }*/
.ClaimForm table { padding:0px; margin:0px; }
.ClaimForm th { font-size:x-small; color:#383838; text-align:left; vertical-align:bottom; font-weight:normal; padding-top:3px;padding-right:6px;padding-bottom:0px;padding-left:0px; margin-bottom:0px; } 
.ClaimForm td { text-align:left; vertical-align:top; padding-top:3px;padding-right:6px;padding-bottom:0px;padding-left:0px; margin-top:0px; }
.ClaimForm input { border:solid 1px #dddddd; padding:0px; margin:0px;}
.ClaimForm select { border:solid 1px #dddddd; padding:0px; margin:0px;}
.ClaimForm label { padding:0px; margin:0px; }
/*.ClaimForm .adddelete {  }*/


/*.ecpinfo { font-size: 1em; font-family:Verdana, Arial, Helvetica, sans-serif; }
.ecpinfo table { padding: 5px; } ; border-spacing:0
.ecpinfo th { font-size:.80em; font-weight:normal; text-align:left; padding:0; margin:30px;} 
.ecpinfo td { font-size:.80em; padding:0; margin:30px;} 
.ecpinfo .message { font-weight:bold;}*/

/*table.ecpinfo  { padding: 5px; border-spacing:0; margin:0px; } 
th.ecpinfo  { font-size:.80em; text-align:left; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif;}
td.ecpinfo  { font-size:.80em; font-family:Verdana, Arial, Helvetica, sans-serif;}*/

.GroupSegTitle { font-weight:bold; padding-top:1em; } 
.GroupTitle { font-size:large; font-weight:bold; padding-top:1em; } 
.GroupTitle_strikethrough { text-decoration: line-through; font-size:large; font-weight:bold; padding-top:1em; }
.code2 { width:2em; }
.code3 { width:3em; }
.code4 { width:4em; }
.code5 { width:5em; }
.code6 { width:5em; }
.code7 { width:7em; }
.code8 { width:8em; }
.code9 { width:9em; }
.code10 { width:10em; }
.code11 { width:11em; }
.code12 { width:12em; }
.code13 { width:13em; }
.code14 { width:14em; }
.code15 { width:15em; }
.code16 { width:16em; }
.code17 { width:17em; }
.code18 { width:18em; }
.code19 { width:19em; }
.code20 { width:20em; }
.code25 { width:25em; }
.code26 { width:26em; }
.code27 { width:27em; }
.code28 { width:28em; }
.code29 { width:29em; }
.code30 { width:30em; }
.code40 { width:40em; }
.code50 { width:50em; }


.DivSegDTP {display: inline-block; min-width:300px; }
.DivSegREF {display: inline-block; min-width:400px; }
.DivSegCRC {display: inline-block; min-width:400px; }
.ShowHideBlock { display:inline-block; }
.RemoveUndo {display: inline-block; min-width:5px; vertical-align:top; padding-top:1.3em; cursor: pointer; text-decoration:none; font-weight:bold; font-size:9px; color: #800000; vertical-align:bottom; }/*red*/
.Remove {cursor: pointer; text-decoration:none; font-weight:bold; color: #800000; }/*red*/
.CountryCode {display: inline-block; min-width:100px; vertical-align:top; padding-top:2em; font-size:.80em; text-align:left; font-weight:bold; }
.ShowHideInlineBlock {display: inline-block; min-width:5px; vertical-align:top; padding-top:1.5em; cursor: pointer; }
.ShowHideFlag { cursor: pointer; }
.ShowHideHidden { visibility:hidden; display:none; }

.InlineBlockLabel { font-size:9px; font-weight:bold }

/*hr { width:70em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; } /*50em cant change color of hr so color the border*/
/*hr.nested { width:65em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; } /*45em cant change color of hr so color the border*/
/*hr.nested2 { width:60em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; } /*cant change color of hr so color the border*/

#vtabs-main hr { width:70em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; }/*#e80c4d*/
#vtabs-main hr.code30 { width:30em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; }
#vtabs-main hr.code25 { width:25em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; }
#vtabs-main hr.code20 { width:20em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; }

#vtabs-main .htabs-nested hr { width:65em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; }/*#12076F*/
#vtabs-main .htabs-nested hr.code30 { width:30em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; }
#vtabs-main .htabs-nested hr.code25 { width:25em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; }
#vtabs-main .htabs-nested hr.code20 { width:20em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; }

#vtabs-main .htabs-nested .htabs-nested hr { width:60em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; }/*#b200ff*/
#vtabs-main .htabs-nested .htabs-nested hr.code30 { width:30em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; }
#vtabs-main .htabs-nested .htabs-nested hr.code25 { width:25em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; }
#vtabs-main .htabs-nested .htabs-nested hr.code20 { width:20em; margin:0px 0px 0px 0px; text-align:left; border:solid 1px #CCC; }

div.BatchScrollBox { overflow:scroll; height: 4.8em; overflow-x:hidden; width: 51em; }

/*-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/
.extraTemplate {display:none;}
.cloneTemplate {display:none;}

/*-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/
.xxshort { width: 25px; }
.xshort { width: 50px; }
.short { width: 75px; }
.med { width: 100px; }
.long { width: 150px; }
.xlong { width: 200px; }
.xxlong { width: 250px; }
.xxxlong { width: 300px; }
.xxxxxxxxlong { width: 550px; }
.date { text-align:right; }
.count { text-align:right; }
.money { text-align:right; }
.high { background-color: #f9f9f9; }
.low { background-color: #d3d6ff; }

.Highlight {background-color: #f4d7e1;} /*Used for Convert To Secondary button - pink*/

.Rejected { background-color:#FFEC8B;}
.RejectedECP { background-color:#FFEC8B; color:black;}
.RejectedRPT { background-color:#FFDFDF; color:black;}
.RejectedRMT { background-color:#d3d3d3; color:black;}

#DataTableBatch { border-collapse:collapse;}
#DataTableBatch th, #DataTableBatch td { padding-left:.2em; padding-right:1em; }
td.DataTableBatch { border-bottom:1px solid #778899; border-collapse:collapse;}

.ExpandCollapseRow, .ShowHideAll, .AllExpandCollapseIcon {cursor: pointer;}

table.DataTableClaim { border:1px solid #778899; border-collapse:collapse; padding:0px; margin:0px; font-size:0px;}/* border:1px solid #778899; */
thead.DataTableClaim { font-size:0; padding:0px; margin:0px; font-size:0px;} /* inline-block is funny about spacing. A space with font-size zero takes up no space.*/
tbody.DataTableClaim { font-size:0; padding:0px; margin:0px; font-size:0px;} /* inline-block is funny about spacing. A space with font-size zero takes up no space.*/
tr.DataTableClaim { display:inline-block; font-size:0; padding:0px; margin:0px; font-size:0px;} /* inline-block is funny about spacing. A space with font-size zero takes up no space.*/
th.DataTableClaim { display:inline-block; font-size:0; padding:0px; margin:0px; font-size:0px;} /* inline-block is funny about spacing. A space with font-size zero takes up no space.*/
td.DataTableClaim { display:inline-block; font-size:0; padding:0px; margin:0px; font-size:0px;} /* inline-block is funny about spacing. A space with font-size zero takes up no space.*/
.DataTableClaimHeader { display:inline-block; border-collapse:collapse; font-size:9px; }/* border-bottom:1px solid #778899;  */
/* aleppla 12/1/12014 - Specify line-height in order to get the vertical-aling property to work. Specifying height alone will not allow vertical-align to work properly. */
.DataTableClaimData { display:inline-block; border-top:1px solid #778899; border-collapse:collapse; font-size:9px; overflow-x:hidden; vertical-align:baseline; scrollbar-3dlight-color:none;height:2.8em; line-height:2.4em; } /*height:2.8em; line-height:2.4em;  border-top:1px solid #778899; */

.DataTableClaimMessagesHeader { border-top:1px solid #778899; border-collapse:collapse; font-style:italic; font-weight:normal; font-size:9px;} /* border-bottom:1px solid #778899; border-top:1px solid #778899; */
.DataTableClaimMessagesData { border-top:1px solid #778899; border-collapse:collapse; font-size:9px;} /* border-bottom:1px solid #778899; border-top:1px solid #778899; */

input[type=checkbox].DataTableClaimData {
  /* All browsers except webkit*/
  transform: scale(0.5); /*transform: scale(1.5);*/

  /* Webkit browsers*/
  -webkit-transform: scale(0.5);
}


#DataTables_Table_0_info { font-size:9px !important;}
#DataTables_Table_0_paginate { font-size:9px !important;}
#DataTables_Table_0_previous { font-size:9px !important;}
#DataTables_Table_0_next { font-size:9px !important;}

/* remove the arrow from select (drop down box) select { appearance: none; }*/
select::-ms-expand { display: none; }
select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

/*-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/

.mw100 {
    max-width:100px;
}

.mw150 {
    max-width:150px;
}

.mw200 {
    max-width:200px;
}

.mw250 {
    max-width:250px;
}

/*-----------------------------------------------------------------------------
    jquery datatables 
-----------------------------------------------------------------------------*/
.paginate_button { margin:3px 3px 3px 3px; text-decoration: underline; cursor: pointer;}
.current { text-decoration: none; font-weight:bold; }

.DataNowrap { white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #E2EFF8;
}
/*-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/

.completed_claim_checkbox{ margin:0; padding:0; height:10px; }

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.modal_div {
    position:absolute;
    overflow:scroll;
  height:600px;
  width: 800px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.modal_div_client_notice {
    position:absolute;
    overflow:scroll;
  height:300px;
  width: 800px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.modal_table th { vertical-align:top; text-align: right; color: #7988a3; margin-right:3px; padding-right:3px;  }
.modal_table td { vertical-align:top; text-align: left; font-weight:bold; margin-left:3px; padding-left:3px; }
 
.modal_label { display: block; margin-bottom: 3px; } /*color: #7c8291; font-size: 1.1em; font-weight: bold;*/
 
.modal_txtfield { 
  display: block;
  width: 100%;
  padding: 6px 5px;
  margin-bottom: 15px;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  color: #7988a3;
  font-size: 1.4em;
  /*text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);*/
  background-color: #fff;
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#edf3f9), to(#fff));
  background-image: -webkit-linear-gradient(top, #edf3f9, #fff);
  background-image: -moz-linear-gradient(top, #edf3f9, #fff);
  background-image: -ms-linear-gradient(top, #edf3f9, #fff);
  background-image: -o-linear-gradient(top, #edf3f9, #fff);
  background-image: linear-gradient(top, #edf3f9, #fff);*/
  border: 1px solid;
  border-color: #abbce8 #c3cae0 #b9c8ef;
  /*-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;*/
}
 
.modal_txtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  /*-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;*/
}

/*  aleppla 4/10/2015 - http://stackoverflow.com/questions/15000913/align-an-anchor-to-the-right
    Used in BatchTracker code.
*/
p.BatchTracker {font-size:0; width=100%; /* Fixes inline block spacing */  }
p.BatchTracker span { width:50%; display:inline-block; }
p.BatchTracker span.align-right { text-align:right; }
p.BatchTracker span label { font-size:16px; }

.InboundInfoLock { cursor: pointer; }
.InboundInfoUnlock { cursor: pointer; }

/*-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/

.basicBorder {
    border: 1px solid black;
}

.stripe {
    color: black;
    background: repeating-linear-gradient( 45deg, #FFF, #D3D6FF 10px );
}


/*-----------------------------------------------------------------------------
edits by Mac
-----------------------------------------------------------------------------*/

body {
    font-family: Arimo, sans-serif !important;
    font-size: 16px !important;   /*  1em;  */
}

.altTextFont {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 12px !important;
}