﻿

.expArrow{
	padding-left: 20px;
	background: url(arrow-down.png) no-repeat 0px 4px;
}
.collArrow{
	padding-left: 20px;
	background: url(arrow-up.png) no-repeat 0px 4px;
}
.expIco{
	padding-left: 20px;
	background: url(plus.gif) no-repeat 0px 4px;
}
.collIco{
	padding-left: 20px;
	background: url(minus.gif) no-repeat 0px 4px;
}
.demo6{
	border: 1px solid #B9E3FF;
	background: #0099FF;
	padding-left: 5px;
	color: #FFFFFF;
}
.panel{
	border: 1px solid #B9E3FF;
	padding: 10px;
}


