﻿body {
}

@media print {

    @page {
        size: letter;
        margin: 1px;
        padding: 1px;
    }

    div#content {
        display: inline-block;
        margin: 1px;
        width: 100%;
        font-size: 10pt; 
    }

    #menu {
        display:none;
    }

    .menu {
        display: none;
    }

    #login {
        display:none;
    }

    #footer {
        display:none;
    }

    .footer {
        display: none;
    }

    #alveo-logo {
        display: none;
    }

    #content {
        margin-left: 1px;
        display: inline-block;
    }

    #header {
        display: none;
    }

    .header {
        display : none;
    }

    .modal-display {
        display: none;
    }
}


